<!-- <pre>
  {{characters | json}}

</pre> -->

<!-- interface CharacterModel {
  results: {
    id: number;
    name: string;
    status: string;
    species: string;
    type: string;
    gender: string;
    origin: {
      name: string;
      url: string;
    };
    location: {
      name: string;
      url: string;
    };
    image: string;
    episode: string[];
  }[];
} -->

  <div *ngIf="characters$ | async as characters " class="container">
  <div class="rick-list">
    <mat-card class="example-card" *ngFor="let ch of characters" appCharacterCardClickable [name]="ch.name">
      <mat-card-header>
        <mat-card-title>{{ch.name}}</mat-card-title>
        <mat-card-subtitle>{{ch.species}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="ch.image" alt="Photo of Rick And Morty">
      <mat-card-content>
        <p class="text-muted">{{ch.status}}</p>
        <h6 class="text-muted" style="font-style: italic;"> {{ch.gender}}</h6>
        <small class="text-muted">{{ch.created | date}}</small>
      </mat-card-content>
    </mat-card>
  </div>
</div>


