.container{
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 6rem;
  justify-content: center;
  margin-top: 5rem;
}

.image{
  display: flex;
  background-position: center;
  width: auto;
  height: auto;
}
